<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Droppipe</h3>

<div>
  <form action="">
    <label for="droppipe_size">Size</label>
   <select id="droppipe_size" name="droppipe_size">
        <option>--Select Size--</option>
        {% for s in size %}
      <option value= {{ s.id }}>{{ s.size }}</option>
            {% endfor %}
    </select>
      <label for="droppipe_material">Material</label>
    <select id="droppipe_material" name="droppipe_material">
       <option>--Select Material--</option>
          {% for m in material %}
      <option value= {{ m.id }}>{{m.material }}</option>
            {% endfor %}
    </select>

 <label for="droppipe_Piping">Piping</label>
    <select id="droppipe_Piping" name="droppipe_Piping">
        <option>--Select Piping--</option>
             {% for p in piping %}
      <option value= {{ p.id }}>{{ p.piping }}</option>
            {% endfor %}
    </select>

  <label for="droppipe_length">Length</label>
    <input type="text" id="droppipe_length" name="droppipe_length" placeholder="length..">

 <label for="droppipe_accessories">Accessories</label>
    <select id="droppipe_accessories" name="droppipe_accessories">
      <option>--Select Accessories--</option>
      {% for a in accessories %}
      <option value= {{ a.id }}>{{ a.name }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

<h3>Manifold</h3>

<div>
  <form action="">
    <label for="manifold_size">Size</label>
    <select id="manifold_size" name="manifold_size">
        <option>--Select Size--</option>
        {% for s in size %}
      <option value= {{ s.id }}>{{ s.size }}</option>
            {% endfor %}
    </select>
      <label for="manifold_material">Material</label>
    <select id="manifold_material" name="manifold_material">
        {% for m in material %}
      <option value= {{ m.id }}>{{m.material }}</option>
            {% endfor %}
    </select>

 <label for="manifold_Piping">Piping</label>
    <select id="manifold_Piping" name="manifold_Piping">
        <option>--Select Piping--</option>
     {% for p in piping %}
      <option value= {{ p.id }}>{{ p.piping }}</option>
            {% endfor %}
    </select>

  <label for="manifold_length">Length</label>
    <input type="text" id="manifold_length" name="manifold_length" placeholder="length..">

 <label for="manifold_accessories">Accessories</label>
    <select id="manifold_accessories" name="manifold_accessories">
      <option>--Select Accessories--</option>
     {% for a in accessories %}
      <option value= {{ a.id }}>{{ a.name }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

<h3>Headers</h3>

<div>
  <form action="">
    <label for="headers_size">Size</label>
    <select id="headers_size" name="headers_size">
        <option>--Select Size--</option>
        {% for s in size %}
      <option value= {{ s.id }}>{{ s.size }}</option>
            {% endfor %}
    </select>
      <label for="headers_material">Material</label>
    <select id="headers_material" name="headers_material">
       <option>--Select Material--</option>
     {% for m in material %}
      <option value= {{ m.id }}>{{m.material }}</option>
            {% endfor %}
    </select>

 <label for="headers_Piping">Piping</label>
    <select id="headers_Piping" name="headers_Piping">
        <option>--Select Piping--</option>
    {% for p in piping %}
      <option value= {{ p.id }}>{{ p.piping }}</option>
            {% endfor %}
    </select>

  <label for="headers_length">Length</label>
    <input type="text" id="headers_length" name="headers_length" placeholder="length..">

 <label for="headers_accessories">Accessories</label>
    <select id="headers_accessories" name="headers_accessories">
      <option>--Select Accessories--</option>
     {% for a in accessories %}
      <option value= {{ a.id }}>{{ a.name }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
